.nav {
  position: relative;
  z-index: 10;
  color: $b-grey-3;

  @media (min-width: $medium) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $b-grey-2;
  }

  @media (min-width: $large) {
    color: $b-grey-3;

    &--white {
      color: #ffffff;
    }
  }
}

.nav__toggle {
  @include button-reset;
  position: absolute;
  top: 23px;
  right: 20px;
  width: 24px;
  height: 18px;
  background-image: url("../img/icon-mobile-menu.svg");
  background-position: center;
  background-size: 28px 18px;
  background-repeat: no-repeat;
  transition-duration: 0.2s;
  outline: none;

  &--close {
    background-image: url("../img/icon-close.svg");
    background-size: 18px 18px;
  }

  @media (min-width: $medium) {
    display: none;
  }
}

.nav__list {
  @include font(20px, 20px, 500);
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  list-style: none;
  opacity: 1;
  transition-duration: 0.5s;

  &--close {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
  }

  @media (min-width: $medium) {
    @include font(18px, 25px);
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-shrink: 0;

    &--close {
      position: static;
      opacity: 1;
    }
  }

  @media (min-width: $large) {
    max-width: calc(50% - #{$l-field});
    font-size: 20px;
  }
}

.nav__item {
  min-height: 66px;
  padding: 22.5px 20px;
  border-bottom: 1px solid $grey-2;

  @media (min-width: $medium) {
    flex-shrink: 0;
    min-height: auto;
    margin-left: 35px;
    padding: 0;
    border: none;
  }
}

.nav__link {
  transition-duration: 0.2s;

  @media (min-width: $medium) {
    display: block;
    padding: 7px 0;
    border-bottom: 2px solid transparent;

    &:focus,
    &[href]:hover {
      opacity: 0.6;
    }

    &[href]:active {
      opacity: 0.3;
    }

    &--current {
      border-bottom-color: $green-1;
    }
  }
}

.nav--white .nav__link--current {
  @media (min-width: $large) {
    border-bottom-color: #ffffff;
  }
}
