// Screen size
$small: 320px;
$medium: 768px;
$large: 1300px;

$s-field: 20px;
$m-field: 30px;
$l-field: 40px;

// Colors
$grey-1: #f2f2f2;  // background blocks and the grey buttons
$grey-2: #ebebeb;  // gray buttons, hover
$grey-3: #cdcdcd;  // borders of input fields and controls

$b-grey-1: #444444;  // basic text
$b-grey-2: #222222;  // text to input fields
$b-grey-3: #111111;  // text title

$green-1: #68b738;  // header background; buttons rest; underscore in menu; active control
$green-2: #5eaa2f;  // buttons hover

$red: #ff0000;  // error input